<app-navigation></app-navigation>

<div id="subNav">
  <div class="dropdown">
    <button class="dropbtn">Category <i class="fa fa-sort-desc" aria-hidden="true"></i></button>
    <div class="dropdown-content">
      <a href="#">Hip Hop</a>
      <a href="#">Trap</a>
      <a href="#">Rap</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Sort by <i class="fa fa-sort-desc" aria-hidden="true"></i></button>
    <div class="dropdown-content">
      <a href="#">Recent</a>
      <a href="#">Most view</a>
      <a href="#">Most Liked</a>
      <a href="#">Most Commented</a>
    </div>
  </div>

</div>

  <section id="dash">
    <div class="monsterCard" *ngFor="let cardItem of cards">
      <div class="monster card">
        <div class="wrapper">
          <div class="header">
            <div class="date" id="date">

              <div id="minicircle"></div>
              <span class="author">Monstercat  </span>
              <!-- <span class="day">10</span>
              <span class="month">Dec</span>
              <span class="year">2017</span> -->
            </div>
            <ul class="menu-content">
              <li>
                <a class="fa fa-cloud-download"><span>150</span></a>
              </li>
              <li><a class="fa fa-heart-o"><span>18</span></a></li>
              <li><a class="fa fa-comment-o"><span>3</span></a></li>
              <li><a class="fa fa-headphones"><span>GH</span></a></li>
            </ul>
          </div>
          <div class="data">
            <div class="content">

              <h1 class="title"><a href="#">Against The Sun</a></h1>
              <p class="text">This a monstercat track flp build with fl studio , hope you enjoy it . :D</p>
              <a class="button">Download</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
<app-footer></app-footer>
