<app-nav></app-nav>
<section>
  <h2>Forgot password ? </h2>
  <p class="p">We will send your a link to the specify email address. Please follow this instructions :</p>

  <div class="instruction">
    <li class="p">Enter a valid email address</li>
    <li class="p">Open your mail account</li>
    <li class="p">You must have recive a mail from hour deparment</li>
    <li class="p">Open the mail and click on the reset link</li>
  </div>

  <form class="form">
    <input type="email" name="email" placeholder="enter your email here ...">
    <input type="submit" name="submit" value="Reset password">
  </form>

</section>
<app-footer></app-footer>
