<app-nav></app-nav>
<section>
  <h2>Join Up</h2>
  <p class="p">Let build new stuff !</p>

  <form class="form">
    <input type="text" name="username" placeholder="enter your username here ...">
    <input type="email" name="email" placeholder="enter your email here ...">
    <input type="password" name="password" placeholder="enter your password ...">
    <p id="already">Already have account ? <a href="/login">Login</a></p>
    <input type="submit" name="submit" value="Signup">
    <!-- <p id="already">Or</p>
    <div class="social">
      <button type="button" name="face" id="face"><i class="fa fa-facebook" aria-hidden="true"></i></button>
      <button type="button" name="google" id="google"><i class="fa fa-google" aria-hidden="true"></i></button>
    </div> -->
  </form>

</section>
<app-footer></app-footer>
