<app-nav></app-nav>
<section>
  <h2>{{msg}}</h2>
  <p class="p">{{errorMsg}}</p>

  <form class="form">

    <input type="text" name="username" placeholder="enter your username here ..." [ngClass]="{'error': userError}" [(ngModel)]="user.username" (change)="userError = false">
    <input type="email" name="email" placeholder="enter your email here ..." [ngClass]="{'error': mailError}" [(ngModel)]="user.email" (change)="mailError = false">
    <input type="password" name="password" placeholder="enter your password ..." [ngClass]="{'error': passError}" [(ngModel)]="user.password" (change)="passError = false">
    <p id="already">Already have account ? <a href="/login">Login</a></p>
    <input type="submit" name="submit" value="Signup" (click)="signup()">
    <!-- <p id="already">Or</p>
    <div class="social">
      <button type="button" name="face" id="face"><i class="fa fa-facebook" aria-hidden="true"></i></button>
      <button type="button" name="google" id="google"><i class="fa fa-google" aria-hidden="true"></i></button>
    </div> -->
  </form>

</section>
<app-footer></app-footer>
