<nav>
  <div id="left-side">
    <ul>
      <li><a href="#"><i class="fa fa-trophy" aria-hidden="true" id="dropIcon"></i></a></li>
      <li><a href="#">Mock Up</a></li>
      <li><a href="">Vst</a></li>
      <li><a href="">Template</a></li>
      <li><a href="">Plugins</a></li>
      <li><a href="">More <i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
    </ul>
  </div>


  <div id="right-side">
    <ul id="ulLeft">
      <li><a href="/signup">Join Up</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </div>

</nav>
