<nav>
  <div id="left-side">
    <ul>
      <li><h1 id="recursive">DropIt</h1></li>
    </ul>
  </div>


  <div id="right-side">
    <form id="form">
      <input type="search" name="" value="" placeholder="search ...">
    </form>

    <div class="dropdown">
      <div class="circle dropbtn">
        <i class="fa fa-angle-down" aria-hidden="true" id="downarrow"></i>
      </div>
      <div class="dropdown-content">
        <a href="#">Profile</a>
        <a href="#">Settings</a>
        <a href="#">Exit</a>
      </div>
    </div>

  </div>

</nav>
