<nav id="navbar" [ngClass]="{'scrolling': scrolling}">
  <div id="left-side">
    <ul>
      <li><a href="/dashboard"><h1 id="recursive">Plus Ultra</h1></a></li>
    </ul>
  </div>


  <div id="right-side">
    <form id="form">
      <input type="search" name="" value="" placeholder="search ...">
    </form>

    <div id="wagets">
      <div id="upload">
        <a href="/upload"><i class="fa fa-cloud-upload" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-th" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-bell" aria-hidden="true"></i></a>
      </div>

      <div class="dropdown">

        <div class="circle dropbtn">
          <i class="fa fa-angle-down" aria-hidden="true" id="downarrow"></i>
        </div>
        <div class="dropdown-content">
          <a href="user/my/profile">Profile</a>
          <a href="/settings">Settings</a>
          <a (click)="exit()" id="exit">Exit</a>
        </div>
      </div>
    </div>

  </div>

</nav>
