<app-navigation></app-navigation>
  <section id="myProfile">
    <div id="left">
      <div class="container">
         <header>
             <div class="bio">
               <img src="https://crazyanimereviews.files.wordpress.com/2014/06/1ed58-eren-titan-and-captain-levy-attack-on-titan-wide-wallpaper-hd.jpg" alt="background" class="bg">
             </div>

             <div class="avatarcontainer">
                 <img src="https://vignette.wikia.nocookie.net/vsbattles/images/2/27/SSGSS_Goku.jpeg/revision/latest?cb%5Cx3d20151009132808" alt="avatar" class="avatar">
             </div>
         </header>

         <div class="content">
             <div class="data">
                 <ul>
                     <li>
                         2,934
                         <span>Projects</span>
                     </li>
                     <li>
                         1,119
                         <span>Followers</span>
                     </li>
                     <li>
                         530
                         <span>Following</span>
                     </li>
                 </ul>
             </div>

             <div class="follow"> <div class="icon-twitter"></div> Follow</div>
         </div>

     </div>
    </div>

    <div id="right">
      
    </div>
  </section>
<app-footer></app-footer>
