section#alertBg{
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#alert {
    padding: 20px;
    color: white;
    position: fixed;
    width: 100%;
    background: orangered;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 15050;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

#alert.error{background-color: #F44336;}
#alert.success {background-color: #00C853;}
#alert.info {background-color: #2196F3;}
#alert.warning {background-color: #ff9800;}
